<div class="container">
  <%= render 'categories/navbar' %>
  <div class="row">
    <div class="col-md-2">
      <% if @category.products? %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Сортировать
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="<%= category_path(@category) + "?order=expensive" %>">Дорогие</a>
            <a class="dropdown-item" href="<%=category_path(@category) + "?order=cheap"%>">Дешевые</a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-10">
      <% if @category.products? %>
        <div class="row">
          <% @products.each_with_index do |product, index| %>
            <div class="col-md-4">
              <div class="card-group">
                <div class="card">
                  <img src="<%= product.image %>" class="img mx-auto " alt="..." height="300px" width="160px">
                  <div class="card-body">
                    <h5 class="text-center" style="height: 7rem"><%= product.title %></h5>
                    <h3 class="text-center"><%= product.price %></h3>
                    <ul>
                      <% p = product.description.split(';')%>
                       <% if p.size > 6 %>
                          <% p.values_at(0,1,5,6).each do |bullet| %>
                            <li class="card-text"><%= bullet %></li>
                          <% end %>
                        <% else %>
                          <% p.first(4).each do |bullet| %>
                            <li class="card-text"><%= bullet %></li>
                          <% end %>
                      <% end %>
                    </ul>
                    <a href="<%= product.url %>" class="btn btn-primary mx-auto">Go to site</a>
                   </div>
                </div>
              </div>
            </div>
              <% if (index.next % 3).zero? %>
                <div class="col-md-12">
                  <hr>
                </div>
              <% end %>
          <% end %>
        </div>
      <% else %>
        <ul class="list-group">
          <% @category.subcategories.each do |subcategory| %>
            <li class="list-group-item text-center">
              <%= link_to subcategory.name, category_path(subcategory) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
  <% if @category.products? %>
    <hr>
    <div class="row justify-content-center align-items-center">
      <% if @pages_count > 1 %>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="<%= category_path(@category) + "?page=1" + (@order_type ? "&order=#{@order_type}" : "") %>">First page</a></li>
            <li class="page-item"><a class="page-link" href="<%= category_path(@category) + "?page=#{@current_page - 1}" + (@order_type ? "&order=#{@order_type}" : "") %>">Previous page</a></li>
            <% (@current_page...( @current_page + 10 > @pages_count ? @pages_count : @current_page + 10 )).each do |page_number|  %>
              <li class="page-item">
                <a class="page-link" href="<%= category_path(@category) + "?page=#{page_number}" + (@order_type ? "&order=#{@order_type}" : "") %>"><%= page_number %></a>
              </li>
            <% end %>
            <li class="page-item"><a class="page-link" href="<%= category_path(@category) + "?page=#{@current_page + 1}" + (@order_type ? "&order=#{@order_type}" : "") %>">Next</a></li>
            <li class="page-item"><a class="page-link" href="<%= category_path(@category) + "?page=#{@pages_count - 1}" + (@order_type ? "&order=#{@order_type}" : "") %>">Last page</a></li>
          </ul>
        </nav>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
